.post{
    max-width: 500px;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.post_image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post_text{
    display: flex;
    padding: 20px;
    align-items: center;
}

.post_header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.post_avatar {
  margin-right: 10px;
}

.post_commentBox{
  display: flex;
  margin-top: 10px;
}

.post_comments{
  padding: 20px;
}

.post_input{
  flex: 1;
  border: none;
  padding: 10px;
  border-top: 1px solid lightgray;
}

.post_button{
  flex: 0;
  border: none; 
  border-top: 1px solid lightgray;
  color: #6082a3;
  background-color: transparent;
}